doctype html
html
  head
    title Ashna and Brett are getting married!
    link(rel="stylesheet", href="/css/style.css")
    link(rel="stylesheet", href="/css/easy-autocomplete.min.css")
    link(rel="stylesheet",type="text/css", href="/js/slick/slick.css")
    link(rel="stylesheet",type="text/css", href="/js/slick/slick-theme.css")
    link(rel="stylesheet",type="text/css", href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css")
    meta(name="viewport", content="width=device-width, initial-scale=1")

  body
    header
      a(href="#details").hideOnMobile Our Wedding
      a(href="#story") Our Story
      a(href="#india") Travel
      a(href="#clothing").hideOnMobile What to Wear
      a(href="#rsvp") RSVP

    .section#intro
      img#intro-text(src="//deueg8lx9wr4g.cloudfront.net/intro-text.png", alt="Ashna and Brett are getting married!")

    .section.details
      a.section-anchor#details
      .day#day1
        img.icon(src="//deueg8lx9wr4g.cloudfront.net/sangeeth.png", alt="Sangeeth")
        h2 Sangeeth
        p.date Friday, October 26th
        p.description A lively and colorful evening of music and dance to celebrate the upcoming nuptials, held at the Park Hyatt, Hyderabad.
        a(href="#sangeeth", rel="modal:open") Learn more
        #sangeeth.modal.detail-modal
          img(src="//deueg8lx9wr4g.cloudfront.net/modal-sangeeth.jpg", alt="Sangeeth detail").hideOnMobile
          h3 Sangeeth
          p
            | The Sangeeth is a lively and colorful evening of celebratory music and dance. Friends and family of the bride's and groom’s each come prepared to face off with choreographed moves (don't worry, we'll be hosting dance practice!)
          p
            | Recommended attire: Colorful! For those who would like to wear Indian clothes, this would be a great occasion to.
      .day#day2
        img.icon(src="//deueg8lx9wr4g.cloudfront.net/kalyanam.png", alt="Kalyanam")
        h2 Kalyanam
        p.date Saturday, October 27th
        p.description A traditional Hindu wedding ceremony followed by dinner and festivities at Hyderabad's iconic Falaknuma Palace.
        a(href="#kalyanam", rel="modal:open") Learn more 
        #kalyanam.modal.detail-modal
          img(src="//deueg8lx9wr4g.cloudfront.net/modal-kalyanam.jpg", alt="Kalyanam detail").hideOnMobile
          h3 Kalyanam
          p
            | A traditional Hindu ceremony will be followed by dinner and dancing in iconic Falaknuma Palace, once home to the monarch (Nizam) of the Hyderabad princely state. Set atop a hill, its breathtaking marble facade and terraced gardens are a window into old-world Hyderabadi splendor.
          p
            | Recommended attire: Indian formal or Western black tie optional
        
    .section.story
      a.section-anchor#story
      h2.section-title Our Story
      ul#timeline
        li.left
          .icon.map
            include ../public/images/timeline/map.svg
          p
            span.year 1996
            br
            | Ashna's family moved to Saratoga, just 4 miles away from Brett's home in Los Gatos. They never met.
          .dot
        li.right
          .icon
            include ../public/images/timeline/sf.svg
          p 
            span.year 2012
            br
            | Brett graduated from MIT and moved to San Franciscco to do start-uppy things.
          .dot
        li.left
          .icon.nyc
            include ../public/images/timeline/nyc.svg
          p 
            span.year 2012
            br
            | Ashna graduated from Yale and headed to NYC to do business-y things. Two years later, she too made her way back West...
          .dot
        li.right
          .icon.phone
            include ../public/images/timeline/phone.svg
          p 
            span.year 2014
            br
            | Weeks after Ashna moved to SF, she and Brett first met. With the help of homemade snickerdoodles, what started as friendship turned into something more.
          .dot
        li.left
          .icon.letter
            include ../public/images/timeline/letter.svg
          p 
            span.year 2017
            br
            | While visiting Miyajima Island in Japan, amidst sunset overlooking the sea, Brett pulled out a letter for Ashna ending in one very special question....
          .dot
        li.right
          .icon.sunset
            include ../public/images/timeline/sunset.svg
          p 
            span.year 2017
            br
            | ...and she said yes! Overjoyed, they rode off into the sunset (not really, but that's what it felt like!)
          .dot
        li.spacer
      #timeline-centerpiece
        .icon
          include ../public/images/timeline/toast.svg
        p And now, they're getting married! It's super exciting!
      
      #carousel
        img(data-lazy="//deueg8lx9wr4g.cloudfront.net/carousel/4.jpg")
        img(data-lazy="//deueg8lx9wr4g.cloudfront.net/carousel/1.jpg")
        img(data-lazy="//deueg8lx9wr4g.cloudfront.net/carousel/7.jpg")
        img(data-lazy="//deueg8lx9wr4g.cloudfront.net/carousel/10.jpg")
        img(data-lazy="//deueg8lx9wr4g.cloudfront.net/carousel/11.jpg")
        img(data-lazy="//deueg8lx9wr4g.cloudfront.net/carousel/12.jpg")
        img(data-lazy="//deueg8lx9wr4g.cloudfront.net/carousel/9.jpg")
        img(data-lazy="//deueg8lx9wr4g.cloudfront.net/carousel/13.jpg")
        img(data-lazy="//deueg8lx9wr4g.cloudfront.net/carousel/6.jpg")
        img(data-lazy="//deueg8lx9wr4g.cloudfront.net/carousel/18.jpg")
        img(data-lazy="//deueg8lx9wr4g.cloudfront.net/carousel/19.jpg")
        img(data-lazy="//deueg8lx9wr4g.cloudfront.net/carousel/14.jpg")
        img(data-lazy="//deueg8lx9wr4g.cloudfront.net/carousel/17.jpg")
        img(data-lazy="//deueg8lx9wr4g.cloudfront.net/carousel/15.jpg")
        img(data-lazy="//deueg8lx9wr4g.cloudfront.net/carousel/16.jpg")
        img(data-lazy="//deueg8lx9wr4g.cloudfront.net/carousel/2.jpg")

    .section.india
      a.section-anchor#india
      h2.section-title Experience India
      p.intro
        | For those visiting India for the first time, we encourage you to make a trip of it! India is an incredible country and we've put together a few different itineraries that we think you'll love. Feel free to customize any of these itinerariers to your preferences, timeline, and budget. 

      .trips
        .trip
          .img-header
            img(src="//deueg8lx9wr4g.cloudfront.net/trip-golden-triangle.jpg", alt="An image of the Golden Triangle")
          h3 Golden Triangle
          p Immerse yourself in the bustling lanes of Delhi, the capital metropolis; marvel at the splendor of the Taj Mahal at sunrise; ascend the Amber Fort by elephant in Jaipur.
          a(href="https://docs.google.com/document/d/1TLhYrdbanG5_BgQi-A2XP2mb3MjK0X9jHg0wDB_K5GA/view") Explore

        .trip
          .img-header
            img(src="//deueg8lx9wr4g.cloudfront.net/trip-south.jpg", alt="An image of Kerala") 
          h3 Southern Splendors
          p This itinerary takes you to the crown Jewel of Southern India, Kerala, a layered landscape of backwater canals, beaches, hill stations, and wildlife sanctuaries.
          a(href="https://docs.google.com/document/d/1-DFWpPppUnCpdYlp-3Blbk-BkwZlAHus27rLsd1ie6U/view") Explore

        .trip
          .img-header
            img(src="//deueg8lx9wr4g.cloudfront.net/trip-jewels.jpg", alt="An image of Hyderabad") 
          h3 Jewels of India
          p For those spending a little more time in India, this trip combines the best of both the North and South.
          a(href="https://docs.google.com/document/d/1zP1VdBItUoG2bz3RhuX5TUPznyebPZ5h1F52ekOpXzI/view") Explore

    .section.travel
      a.section-anchor#travel
      .left-half
        h2.section-title Travel Details
        h3 Flights
        p
          | You can fly directly into Hyderabad via Rajiv Gandhi International Airport. If you are spending time in other cities you may want to fly in and out of Bombay or Delhi instead.  We encourage you to book your airfare as far in advance as possible for the best fares!
        h3 Visas
        p
          | All US citizens will need a visa to enter India, but you can easily 
          a.on-dark(href="https://indianvisaonline.gov.in/evisa/tvoa.html", target="evisa") file for an e-Visa online
          | . Please do so as soon as you've booked tickets!
        h3 Accommodations
        p
          | For those looking for accomodations in Hyderabad, we're working on arrangements with some wonderful local hotels. Check back in December for updated information!

      img.right-half(src="//deueg8lx9wr4g.cloudfront.net/falaknuma.jpg", alt="Falaknuma")


    .section.clothing
      a.section-anchor#clothing
      img.left-half(src="//deueg8lx9wr4g.cloudfront.net/dress.jpg", alt="Dress")
      .right-half
        h2.section-title What to wear
        p
          | You're welcome to wear Indian or Western clothing to any of our events. The most important thing is that you're comfortable enough to dance the night away! If you would like to wear Indian clothing but don't know where to start, here are a few of our favorite online stores that ship to the US and Europe:
        ul
          li
            a(href="https://www.perniaspopupshop.com/", target="pernias")
              | Pernia's Pop-up Shop
          li
            a(href="http://www.aashniandco.com/", target="aashni")
              | Aashni + Co
          li
            a(href="https://www.kalkifashion.com/", target="kalki")
              | Kalki Fashion
        p
          | Not sure what Indian styles to pick out?
          | For women, we recommend either a lehenga / gagra choli, saree, or anarkali. You can also accesorize with bangles and bindis. 
          | For men, we recommend a kurta, sherwani, or a nehru jacket (which can be worn with western slacks and a collared shirt!)

    .section.rsvp
      a.section-anchor#rsvp
      .action-prompt
        a.button(href="#rsvp-modal", rel="modal:open") RSVP
        p We can't wait to celebrate with you! Please RSVP by August 1st
      .action-prompt
        a.button(href="https://www.zola.com/registry/brettandashna/", target="registry") Registry
        p We have registered online, but your presence at our wedding is present enough!
      #rsvp-modal.modal
        h3 RSVP
        #lookup-form
          input#lookup-name
        #rsvp-form
          p.name Placeholder name
          .yes-no.button-group
            // Singular - plural (we) handed by JS
            button(name="yes") Yes, I will attend
            button(name="no") No, I can't make it
          .additional-info
            .party-names
            .travel-plans
              p Would you be interested in a group trip with other guests?
              .button-group
                button(name="yes") Yes please, sounds fun!
                button(name="no") No thank you
                button(name="maybe") Not sure yet
          textarea#notes(placeholder="Anything else we should know?")
          button#submit.disabled Submit
        #thanks
          p.yes Thank you for RSVPing, we are looking forward to seeing you at our wedding!
          p.no Sorry you can't make it, we hope to see you soon!
          p If anything changes, please re-submit and let us know.


    script(type="text/javascript", src="//code.jquery.com/jquery-1.11.0.min.js")
    script(type="text/javascript", src="/js/slick/slick.min.js")
    script(type="text/javascript", src="/js/easy-autocomplete.min.js")
    script(type="text/javascript", src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js")
    script(type="text/javascript", src="/js/main.js")
