doctype html
html
  head
    title Ashna and Brett are getting married!
    link(rel="stylesheet", href="/css/style.css")
    link(rel="stylesheet", href="/css/easy-autocomplete.min.css")
    link(rel="stylesheet",type="text/css", href="/js/slick/slick.css")
    link(rel="stylesheet",type="text/css", href="/js/slick/slick-theme.css")
    link(rel="stylesheet",type="text/css", href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css")
    link(rel="stylesheet",type="text/css", href="/css/animate.css")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="icon", type="image/png", sizes="128x128", href="/images/favicon.png")

  body
    header
      a(href="#details").hideOnMobile Our Wedding
      a(href="#story") Our Story
      a(href="#india") Travel
      a(href="#clothing").hideOnMobile What to Wear
      a(href="#rsvp") RSVP

    .section#intro
      img#intro-text(src="//deueg8lx9wr4g.cloudfront.net/intro-text.png", alt="Ashna and Brett are getting married!")

    .section.details
      a.section-anchor#details
      .day#day1
        img.icon(src="//deueg8lx9wr4g.cloudfront.net/nalugu.png", alt="Paricheyam")
        h2 Paricheyam
        p.date Thursday, October 25th
        p.description We welcome you to join us on Thursday evening as we gather with family and friends to kick off the wedding festivities.
        a(href="#paricheyam", rel="modal:open") Learn more
        #paricheyam.modal.detail-modal
          img(src="//deueg8lx9wr4g.cloudfront.net/modal-parichay.png", alt="Paricheyam detail").hideOnMobile
          h3 Paricheyam
          p
            | We’re still working out location and details for the welcome event in Hyderabad. Please check back in a few months!
          p
            | Recommended attire: Western formal.
      .day#day2
        img.icon(src="//deueg8lx9wr4g.cloudfront.net/sangeeth.png", alt="Sangeeth")
        h2 Mehendi &amp; Sangeeth
        p.date Friday, October 26th
        p.description The second day of festivities will be lively and colorful with celebrations in the afternoon and evening. Don't forget your dancing shoes!
        a(href="#sangeeth", rel="modal:open") Learn more
        #sangeeth.modal.detail-modal
          img(src="//deueg8lx9wr4g.cloudfront.net/modal-sangeeth.jpg", alt="Sangeeth detail").hideOnMobile
          h3 Mehendi
          p
            | Starting at noon, the Mehendi is traditionally a colorful event where women apply henna in preparation for the wedding. Ours will be a casual daytime celebration, and all guests are welcome to attend! We'll have lunch, music, henna artists, and time to practice for the evening dance performances.
          p
            | Recommended attire: Colorful and casual!
          h3 Sangeeth
          p
            | In the evening will be the Sangeeth, a lively evening of celebratory music and dance. Friends and family of the bride's and groom’s each come prepared to face off with choreographed moves.
          p
            | Recommended attire: Festive and formal - for those who would like to wear Indian clothes at least once, this would be the best occasion to!
      .day#day3
        img.icon(src="//deueg8lx9wr4g.cloudfront.net/kalyanam.png", alt="Kalyanam")
        h2 Kalyanam
        p.date Saturday, October 27th
        p.description A traditional Hindu wedding ceremony followed by dinner and festivities at Hyderabad's iconic Falaknuma Palace.
        a(href="#kalyanam", rel="modal:open") Learn more 
        #kalyanam.modal.detail-modal
          img(src="//deueg8lx9wr4g.cloudfront.net/modal-kalyanam.jpg", alt="Kalyanam detail").hideOnMobile
          h3 Kalyanam
          p
            | Brett and Ashna officially tie the knot! A traditional Hindu ceremony will be followed by dinner and dancing in iconic Falaknuma Palace, once home to the monarch (Nizam) of the Hyderabad princely state. Set atop a hill, its breathtaking marble facade and terraced gardens are a window into old-world Hyderabadi splendor. 
          p
            | Recommended attire: Indian or Western formal.
        
    .section.story
      a.section-anchor#story
      h2.section-title Our Story
      ul#timeline
        li.left
          .icon.map.wow.fadeInLeft(data-wow-offset="30")
            include ../public/images/timeline/map.svg
          p
            span.year 1996
            br
            | Ashna's family moved to Saratoga, just 4 miles away from Brett's home in Los Gatos. They never met.
          .dot
        li.right
          .icon.wow.fadeInRight(data-wow-offset="30")
            include ../public/images/timeline/sf.svg
          p 
            span.year 2012
            br
            | Brett graduated from MIT and moved to San Franciscco to do start-uppy things.
          .dot
        li.left
          .icon.nyc.wow.fadeInLeft(data-wow-offset="30")
            include ../public/images/timeline/nyc.svg
          p 
            span.year 2012
            br
            | Ashna graduated from Yale and headed to NYC to do business-y things. Two years later, she too made her way back West...
          .dot
        li.right
          .icon.phone.wow.fadeInRight(data-wow-offset="30")
            include ../public/images/timeline/phone.svg
          p 
            span.year 2014
            br
            | Weeks after Ashna moved to SF, she and Brett first met. With the help of homemade snickerdoodles, what started as friendship turned into something more.
          .dot
        li.left
          .icon.letter.wow.fadeInLeft(data-wow-offset="30")
            include ../public/images/timeline/letter.svg
          p 
            span.year 2017
            br
            | While visiting Miyajima Island in Japan, amidst sunset overlooking the sea, Brett pulled out a letter for Ashna ending in one very special question....
          .dot
        li.right
          .icon.sunset.wow.fadeInRight(data-wow-offset="30")
            include ../public/images/timeline/sunset.svg
          p 
            span.year 2017
            br
            | ...and she said yes! Overjoyed, they rode off into the sunset (not really, but that's what it felt like!)
          .dot
        li.spacer
      #timeline-centerpiece
        .icon.wow.fadeIn(data-wow-offset="30")
          include ../public/images/timeline/toast.svg
        p And now, they're getting married! It's super exciting!
      
      #carousel
        img(data-lazy="//deueg8lx9wr4g.cloudfront.net/carousel/4.jpg")
        img(data-lazy="//deueg8lx9wr4g.cloudfront.net/carousel/15.jpg")
        img(data-lazy="//deueg8lx9wr4g.cloudfront.net/carousel/16.jpg")
        img(data-lazy="//deueg8lx9wr4g.cloudfront.net/carousel/2.jpg")
        img(data-lazy="//deueg8lx9wr4g.cloudfront.net/carousel/1.jpg")
        img(data-lazy="//deueg8lx9wr4g.cloudfront.net/carousel/14.jpg")
        img(data-lazy="//deueg8lx9wr4g.cloudfront.net/carousel/17.jpg")
        img(data-lazy="//deueg8lx9wr4g.cloudfront.net/carousel/7.jpg")
        img(data-lazy="//deueg8lx9wr4g.cloudfront.net/carousel/10.jpg")
        img(data-lazy="//deueg8lx9wr4g.cloudfront.net/carousel/12.jpg")
        img(data-lazy="//deueg8lx9wr4g.cloudfront.net/carousel/9.jpg")
        img(data-lazy="//deueg8lx9wr4g.cloudfront.net/carousel/13.jpg")
        img(data-lazy="//deueg8lx9wr4g.cloudfront.net/carousel/6.jpg")
        img(data-lazy="//deueg8lx9wr4g.cloudfront.net/carousel/19.jpg")

    .section.india
      a.section-anchor#india
      h2.section-title Experience India
      p.intro
        | For those visiting India for the first time, we encourage you to make a trip of it! India is an incredible country and we've put together a few different itineraries that we think you'll love. Feel free to customize any of these itinerariers to your preferences, timeline, and budget. 

      .trips
        .trip.wow.fadeInUp
          .img-header
            img(src="//deueg8lx9wr4g.cloudfront.net/trip-golden-triangle.jpg", alt="An image of the Golden Triangle")
          h3 Golden Triangle
          p Immerse yourself in the bustling lanes of Delhi, the capital metropolis; marvel at the splendor of the Taj Mahal at sunrise; ascend the Amber Fort by elephant in Jaipur.
          a(href="https://deueg8lx9wr4g.cloudfront.net/itinerary/golden-triangle.pdf", target="golden") Explore

        .trip.wow.fadeInUp(data-wow-delay="0.15s")
          .img-header
            img(src="//deueg8lx9wr4g.cloudfront.net/trip-south.jpg", alt="An image of Kerala") 
          h3 Southern Splendors
          p This itinerary takes you to the crown Jewel of Southern India, Kerala, a layered landscape of backwater canals, beaches, hill stations, and wildlife sanctuaries.
          a(href="https://deueg8lx9wr4g.cloudfront.net/itinerary/southern-splendor.pdf", target="southern") Explore

        .trip.wow.fadeInUp(data-wow-delay="0.30s")
          .img-header
            img(src="//deueg8lx9wr4g.cloudfront.net/trip-jewels.jpg", alt="An image of Hyderabad") 
          h3 Jewels of India
          p For those spending a little more time in India, this trip combines the best of both the North and South.
          a(href="https://deueg8lx9wr4g.cloudfront.net/itinerary/jewels-of-india.pdf", target="jewels") Explore

    .section.travel
      a.section-anchor#travel
      .left-half
        h2.section-title Travel Details
        h3 Flights
        .icon.airplane
          include ../public/images/airplane.svg
        p
          | You can fly directly into Hyderabad via Rajiv Gandhi International Airport. If you are spending time in other cities you may want to fly in and out of Bombay or Delhi instead.  We encourage you to book your airfare as far in advance as possible for the best fares!
        h3 Visas
        .icon.passport
          include ../public/images/passport.svg
        p
          | All US citizens will need a visa to enter India, but you can easily 
          a.on-dark(href="https://indianvisaonline.gov.in/evisa/tvoa.html", target="evisa") file for an e-Visa online
          | . Please do so as soon as you've booked tickets!
        h3 Accommodations
        .icon.bell
          include ../public/images/bell.svg
        p
          | We've negotiated a group rate at the Park Hyatt Hyderabad, a beautiful hotel conveniently located near city center and where several of our wedding events will take place. Transportation to all wedding events within Hyderabad will be provided to and from the Park Hyatt.
          | 
          a.on-dark(href="https://www.hyatt.com/content/propertywebsites/hotels/park/hydph/en/group-booking/hydphgreda2018.html?cq_ck=1516157439777", target="hotel") Book rooms online using this link
          | .

      img.right-half(src="//deueg8lx9wr4g.cloudfront.net/falaknuma.jpg", alt="Falaknuma")


    .section.clothing
      a.section-anchor#clothing
      img.left-half(src="//deueg8lx9wr4g.cloudfront.net/dress.jpg", alt="Dress")
      .right-half
        h2.section-title What to wear
        p
          | You're welcome to wear Indian or Western clothing to any of our events. The most important thing is that you're comfortable enough to dance the night away! If you would like to wear Indian clothing but don't know where to start, here are a few of our favorite online stores that ship to the US and Europe:
        ul
          li
            a(href="https://www.kalkifashion.com/", target="kalki")
              img(src="//deueg8lx9wr4g.cloudfront.net/hanger.png", alt="Hanger").animated
              | Kalki Fashion
          li
            a(href="https://www.perniaspopupshop.com/", target="pernias")
              img(src="//deueg8lx9wr4g.cloudfront.net/hanger.png", alt="Hanger").animated
              | Pernia's Pop-up Shop
          li
            a(href="http://www.aashniandco.com/", target="aashni")
              img(src="//deueg8lx9wr4g.cloudfront.net/hanger.png", alt="Hanger").animated
              | Aashni + Co
        p
          | Not sure what Indian styles to pick out?
          | For women, we recommend either a lehenga / gagra choli, saree, or anarkali. You can also accesorize with bangles and bindis. 
          | For men, we recommend a kurta, sherwani, or a nehru jacket (which can be worn with western slacks and a collared shirt!)
        p
          | Hyderabad at this time of year is usually about 85&deg;F during the day and 70&deg;F at night, with light humidity and an occasional rainshower - pack accordingly!
          | If you have any questions about what to wear, feel free to 
          a(href="mailto:reddytobvz@gmail.com", target="email") contact us
          | .

    .section.rsvp
      a.section-anchor#rsvp
      .action-prompt.wow.fadeInUp
        a.button(href="#rsvp-modal", rel="modal:open") RSVP
        p We can't wait to celebrate with you! Please RSVP by August 1st
      .action-prompt.wow.fadeInUp
        a.button(href="https://www.zola.com/registry/brettandashna/", target="registry") Registry
        p We have registered online, but your presence at our wedding is present enough!
      #rsvp-modal.modal
        h3 RSVP
        #lookup-form
          input#lookup-name
        #rsvp-form
          p.name Placeholder name
          .yes-no.button-group
            // Singular - plural (we) handed by JS
            button(name="yes") Yes, I will attend
            button(name="no") No, I can't make it
          .additional-info
            .party-names
            .travel-plans
              p Would you be interested in a group trip with other guests?
              .button-group
                button(name="yes") Yes please, sounds fun!
                button(name="no") No thank you
                button(name="maybe") Not sure yet
          textarea#notes(placeholder="Anything else we should know?")
          button#submit.disabled Submit
        #thanks
          p.yes Thank you for RSVPing, we are looking forward to seeing you at our wedding!
          p.no Sorry you can't make it, we hope to see you soon!
          p If anything changes, please re-submit and let us know.


    script(type="text/javascript", src="//code.jquery.com/jquery-1.11.0.min.js")
    script(type="text/javascript", src="/js/slick/slick.min.js")
    script(type="text/javascript", src="/js/easy-autocomplete.min.js")
    script(type="text/javascript", src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js")
    script(type="text/javascript", src="/js/wow.min.js")
    script(type="text/javascript", src="/js/main.js")
    script(async,src="https://www.googletagmanager.com/gtag/js?id=UA-110339882-1")
    script
      | window.dataLayer = window.dataLayer || [];
      | function gtag(){dataLayer.push(arguments);}
      | gtag('js', new Date());
      | gtag('config', 'UA-110339882-1');
    script
      | (function(h,o,t,j,a,r){
      |   h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
      |   h._hjSettings={hjid:705927,hjsv:6};
      |   a=o.getElementsByTagName('head')[0];
      |   r=o.createElement('script');r.async=1;
      |   r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
      |   a.appendChild(r);
      | })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
