doctype html
html
  head
    title Brett and Ashna's wedding web site
    link(rel="stylesheet", href="/css/staging.css")
  body
    h1 Welcome
    p This page is still being worked on, but is coming soon!
    img(src="/images/staging/couple.jpeg", title="The engagement!")
