@import url('https://fonts.googleapis.com/css?family=Arima+Madurai|Crimson+Text|Parisienne');

:root {
  --color-dark: #182D38;
  --color-medium: #384856;
  --color-light: #EBE6DD;
  --color-text-on-dark: #F2DFC7;
  --color-tan: #DED0B6;
  --color-accent: #f3c4b4;
  --color-accent-on-dark: #f3c4b4;
}

* {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: var(--color-light);
}

h1, p {
  text-align: center;
}

h1, h2, h3, h4 {
  font-family: 'Arima Madurai', cursive;
}

h2.section-title {
  font-size: 36px;
  color: var(--color-medium);
}

p {
  font-family: 'Crimson Text', serif;
  color: var(--color-dark);
}

li {
  font-family: 'Crimson Text', serif;
  color: var(--color-dark);
}

a {
  color: var(--color-medium);
}

a:hover,
a:focus,
a:active
{
  color: var(--color-accent);
}

a.on-dark {
  color: var(--color-accent);
}

a.on-dark:hover,
a.on-dark:focus,
a.on-dark:active
{
  color: var(--color-medium);
}

img {
  height: 500px;
  display: block;
  margin: 0 auto;
}

header {
  position: fixed;
  z-index: 1;
  text-align: center;
  width: 100%;
  height: 50px;
  background-color: #222;
  opacity: 0.6;
}

header:hover {
  opacity: 0.9;
}


header a {
  color: #FFF;
  font-family: 'Crimson Text', serif;
  padding: 14px 20px;
  text-decoration: none;
  display: inline-block;
}

header a:focus,
header a:hover,
header a:active {
  text-decoration: underline;
}

.section {
  width: 100%;
  height: 100%;
  position: relative;

  background-size: cover;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section-anchor {
  position: absolute;
  top: -50px;
}

.section#intro {
  background-image: url("/images/intro-alt.jpg");
  background-position: right top;
  color: #FFF;
  position: relative;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.section#intro #intro-text {
  position: absolute;
  left: 10%;
  max-height: 70%;
  max-width: 35%;
  width: auto;
  height: auto;
}

.section.details {
  background-color: var(--color-dark);
  background-image: url("/images/falaknuma-line-2.png");
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: 70%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.section.details .day {
  width: 520px;
  height: 500px;
  max-height: 100%;

  text-align: center;

  padding: 10px 70px;
}

.section.details .day .icon {
  width: 200px;
  height: 200px;
  border-radius: 100px;
  margin-top: 20px;
  border: 2px solid var(--color-medium);
}

.section.details .day h2 {
  font-family: 'Arima Madurai', cursive;
  margin-bottom: 0px;
  color: var(--color-text-on-dark);
}

.section.details .day .date {
  font-size: 16px;
  margin: 0;
  text-transform: uppercase;
  color: var(--color-text-on-dark);
}

.section.details .day .description {
  font-size: 20px;
  color: var(--color-text-on-dark);
}

.section.story {
  height: auto;
}

#timeline {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: relative;
  width: 85%;
  max-width: 900px;
}

#timeline li {
  width: 50%;
  height: 240px;
  display: flex;
  align-items: center;
}

#timeline li .dot {
  background: var(--color-medium);
  width: 6px;
  height: 12px;
  border-radius: 6px;
  flex-shrink: 0;
  position: relative;
}

#timeline li.left {
  float: left;
  border-right: 2px solid var(--color-medium);
  text-align: right;
  flex-direction: row;
  padding-bottom: 80px;
}

#timeline li.left .dot {
  border-radius: 6px 0px 0px 6px;
}

#timeline li.right {
  float: right;
  border-left: 2px solid var(--color-medium);
  text-align: left;
  flex-direction: row-reverse;
  padding-top: 160px;
}

#timeline li.right .dot {
  border-radius: 0 6px 6px 0;
}

#timeline li p {
  display: inline-block;
  margin: 0 20px;
  flex-grow: 1;
  font-size: 18px;
}

#timeline li.right p {
  text-align: left;
}

#timeline li.left p {
  text-align: right;
}

#timeline li .year {
  font-weight: bold;
  font-size: 22px;
  margin-right: 3px;
  color: var(--color-medium);
}

#timeline li .icon {
  width: 120px;
  height: 120px;
  flex-grow: 0;
  flex-shrink: 0;
  background-color: var(--color-dark);
  border-radius: 60px;
}

#timeline li .icon.map svg {
  padding: 5px;
}

#timeline li .icon.nyc svg {
  padding: 15px;
  padding-left: 25px;
}

#timeline li .icon.phone svg,
#timeline li .icon.letter svg,
#timeline li .icon.sunset svg {
  padding: 10px;
}

#timeline li .icon svg {
  fill: var(--color-accent-on-dark);
  padding: 25px;
  width: 100%;
}

#timeline li.spacer {
  height: 80px;
  border-right: 4px solid var(--color-medium);
  float: left;
  margin-left: 2px;
}

#timeline-centerpiece {
  clear: both;
  margin-bottom: 30px;
  font-size: 24px;
}

#timeline-centerpiece .icon {
  width: 320px;
  height: 320px;
  border-radius: 160px;
  background-color: var(--color-dark);
  margin: auto;
}

#timeline-centerpiece .icon svg {
  fill: var(--color-accent-on-dark);
  padding: 20px;
  width: 100%;
}

#carousel {
  margin: 0 auto;
	width: 100%;
  margin-bottom: 50px;
}

#carousel .slick-prev {
  left: 25px;
  z-index: 1;
}

#carousel .slick-next {
  right: 25px;
  z-index: 1;
}

#carousel .slick-dots {
  bottom: 50px;
}

#carousel .slick-dots li button:before {
  color: var(--color-light);
}

#carousel .slick-dots li.slick-active button:before {
  color: var(--color-accent-on-dark);
}

#carousel .slick-prev:before,
#carousel .slick-next:before {
  color: var(--color-light);
}

.section.india h3 small {
  margin-left: 5px;
}

.section.india h3 .right {
  float: right;
}

.section.india .trip {
  max-width: 880px;
  padding: 0 40px;
  margin-bottom: 30px;
}

.section.india .trip .thumbnails {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.section.india .trip .thumbnails li {
  float: left;
}

.section.india .trip .thumbnails img {
  width: 100px;
  height: 80px;
}

.section.india .notice {
  border: 1px solid #630947;
  border-radius: 8px;
  padding: 16px 24px;
  font-size: 20px;
  background: #FFF;
  margin-bottom: 100px;
}

.section.travel {
  flex-direction: row;
  background: var(--color-dark);
}

.section.travel .right-half {
  height: 100%;
  flex-grow: 0;
}

.section.travel .left-half {
  padding-left: 60px;
  flex-grow: 1;
}

.section.travel .left-half h2 {
  color: var(--color-text-on-dark);
}

.section.travel .left-half h3 {
  color: var(--color-text-on-dark);
  margin-bottom: 8px;
}

.section.travel .left-half p {
  text-align: left;
  font-size: 18px;
  line-height: 28px;
  max-width: 550px;
  color: var(--color-text-on-dark);
  margin-top: 8px;
  margin-bottom: 22px;
}

.section.clothing {
  flex-direction: row;
  background: var(--color-light);
}

.section.clothing .left-half {
  height: 100%;
  flex-grow: 0;
}

.section.clothing .right-half {
  padding-left: 30px;
  flex-grow: 1;
}

.section.clothing .right-half p {
  text-align: left;
  font-size: 18px;
  line-height: 28px;
  max-width: 550px;
}

.section.clothing .right-half li {
  font-size: 18px;
  line-height: 28px;
}

.section.rsvp {
  background-image: url("/images/ocean-alt.jpg");
  flex-direction: row;
  align-items: flex-start;
  justify-items: center;
  background-position: top center;
}

.section .action-prompt {
  padding: 40px 120px;
  text-align: center;
  margin-top: 80px;
  text-decoration: none;
  display: block;
  color: #FFF;
}

.section .action-prompt a.button {
  font-family: 'Arima Madurai', cursive;
  font-size: 36px;
  border: 2px solid #FFF;
  border-radius: 4px;
  padding: 16px;
  display: block;
  width: 200px;
  color: #FFF;
  text-decoration: none;
  margin: auto;
  background-color: rgba(255,255,255,0.3);
}

.section .action-prompt a.button:hover {
  color: var(--color-medium);
  border-color: var(--color-medium);
}

.section .action-prompt p {
  font-size: 22px;
  color: #FFF;
}

.section .action-prompt .action {
  display: none;
  font-family: 'Arima Madurai', cursive;
  font-size: 20px;

  border: 1px solid #630947;
  border-radius: 8px;
  padding: 8px 36px;
  text-decoration: none;

  background: rgb(255,255,255);
  background: rgba(255,255,255,.8);
  color: #630947;
}

.section .action-prompt .action:hover,
.section .action-prompt .action:focus,
.section .action-prompt .action:active {
  background: rgb(255,255,255);
  font-weight: bold;
  border-color: #630947;
}
