@import url('https://fonts.googleapis.com/css?family=Montserrat+Alternates|Crimson+Text');

:root {
  --color-dark: #182D38;
  --color-medium: #384856;
  --color-light: #EBE6DD;
  --color-text-on-dark: #F2DFC7;
  --color-tan: #DED0B6;
  --color-accent: #f3c4b4;
  --color-accent-on-dark: #f3c4b4;
}

* {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: var(--color-light);
}

h1, p {
  text-align: center;
}

h1, h2, h3, h4 {
  font-family: 'Montserrat Alternates', sans-serif;
}

h2.section-title {
  font-size: 36px;
  color: var(--color-medium);
}

p {
  font-family: 'Crimson Text', serif;
  color: var(--color-dark);
}

li {
  font-family: 'Crimson Text', serif;
  color: var(--color-dark);
}

a {
  color: var(--color-medium);
}

a:hover,
a:focus,
a:active
{
  color: var(--color-accent);
}

a.on-dark {
  color: var(--color-accent);
}

a.on-dark:hover,
a.on-dark:focus,
a.on-dark:active
{
  color: var(--color-medium);
}

header {
  position: fixed;
  z-index: 1;
  text-align: center;
  width: 100%;
  height: 50px;
  background-color: var(--color-dark);
  opacity: 0.6;
}

header:hover {
  opacity: 0.9;
}


header a {
  color: var(--color-text-on-dark);
  font-family: 'Crimson Text', serif;
  font-family: 'Montserrat Alternates', sans-serif;
  padding: 14px 20px;
  text-decoration: none;
  display: inline-block;
}

header a:focus,
header a:hover,
header a:active {
  text-decoration: underline;
}

.section {
  width: 100%;
  height: 100%;
  min-height: 650px;
  position: relative;

  background-size: cover;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section-anchor {
  position: absolute;
  top: -50px;
}

.section#intro {
  background-image: url("/images/intro.jpg");
  background-position: right top;
  color: #FFF;
  position: relative;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.section#intro #intro-text {
  position: absolute;
  left: 10%;
  max-height: 70%;
  max-width: 35%;
  width: auto;
  height: auto;
}

.section.details {
  background-color: var(--color-dark);
  background-image: url("/images/falaknuma-line.png");
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: 70%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.section.details .day {
  width: 520px;
  height: 500px;
  max-height: 100%;

  text-align: center;

  padding: 10px 70px;
}

.section.details .day .icon {
  width: 200px;
  height: 200px;
  border-radius: 100px;
  border: 2px solid var(--color-medium);
}

.section.details .day h2 {
  font-family: 'Montserrat Alternates', sans-serif;
  margin-bottom: 4px;
  color: var(--color-text-on-dark);
}

.section.details .day .date {
  font-size: 16px;
  margin: 0;
  text-transform: uppercase;
  color: var(--color-text-on-dark);
}

.section.details .day .description {
  font-size: 20px;
  color: var(--color-text-on-dark);
}

.section.details .day a {
  color: var(--color-dark);
  font-size: 18px;
  padding: 10px 24px;
  border: 1px solid var(--color-accent-on-dark);
  background-color: var(--color-accent-on-dark);
  border-radius: 4px;
  text-decoration: none;
  font-family: 'Montserrat Alternates', sans-serif;
  margin-top: 10px;
  display: inline-block;
}

.section.details .day a:hover,
.section.details .day a:focus,
.section.details .day a:active {
  font-weight: bold;
}

.modal.detail-modal {
  padding: 0px;
  padding-bottom: 20px;
}

.modal.detail-modal img {
  width: 100%;
  border-radius: 8px 8px 0 0;
}

.modal.detail-modal h3 {
  text-align: center;
  font-size: 24px;
}

.modal.detail-modal p {
  padding: 0 20px;
  font-size: 18px;
  line-height: 24px;
}

.modal.detail-modal .close-modal{
  top: -2px;
  right: -2px;
}

.section.story {
  height: auto;
}

#timeline {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: relative;
  width: 85%;
  max-width: 900px;
}

#timeline li {
  width: 50%;
  height: 240px;
  display: flex;
  align-items: center;
}

#timeline li .dot {
  background: var(--color-medium);
  width: 6px;
  height: 12px;
  border-radius: 6px;
  flex-shrink: 0;
  position: relative;
}

#timeline li.left {
  float: left;
  border-right: 2px solid var(--color-medium);
  text-align: right;
  flex-direction: row;
  padding-bottom: 80px;
}

#timeline li.left .dot {
  border-radius: 6px 0px 0px 6px;
}

#timeline li.right {
  float: right;
  border-left: 2px solid var(--color-medium);
  text-align: left;
  flex-direction: row-reverse;
  padding-top: 160px;
}

#timeline li.right .dot {
  border-radius: 0 6px 6px 0;
}

#timeline li p {
  display: inline-block;
  margin: 0 20px;
  flex-grow: 1;
  font-size: 18px;
}

#timeline li.right p {
  text-align: left;
}

#timeline li.left p {
  text-align: right;
}

#timeline li .year {
  font-weight: bold;
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: 22px;
  margin-right: 3px;
  color: var(--color-medium);
}

#timeline li .icon {
  width: 120px;
  height: 120px;
  flex-grow: 0;
  flex-shrink: 0;
  background-color: var(--color-dark);
  border-radius: 60px;
}

#timeline li .icon.map svg {
  padding: 5px;
}

#timeline li .icon.nyc svg {
  padding: 15px;
  padding-left: 25px;
}

#timeline li .icon.phone svg,
#timeline li .icon.letter svg,
#timeline li .icon.sunset svg {
  padding: 10px;
}

#timeline li .icon svg {
  fill: var(--color-accent-on-dark);
  padding: 25px;
  width: 100%;
}

#timeline li.spacer {
  height: 80px;
  border-right: 4px solid var(--color-medium);
  float: left;
  margin-left: 2px;
}

#timeline-centerpiece {
  clear: both;
  margin-bottom: 30px;
  font-size: 24px;
}

#timeline-centerpiece .icon {
  width: 320px;
  height: 320px;
  border-radius: 160px;
  background-color: var(--color-dark);
  margin: auto;
}

#timeline-centerpiece .icon svg {
  fill: var(--color-accent-on-dark);
  padding: 20px;
  width: 100%;
}

#carousel {
  margin: 0 auto;
	width: 100%;
}

#carousel .slick-prev {
  left: 25px;
  z-index: 1;
}

#carousel .slick-next {
  right: 45px;
  z-index: 1;
}

#carousel .slick-dots {
  bottom: 50px;
}

#carousel .slick-dots li button:before {
  color: var(--color-light);
  font-size: 12px;
}

#carousel .slick-dots li.slick-active button:before {
  color: var(--color-accent-on-dark);
}

#carousel .slick-prev:before,
#carousel .slick-next:before {
  color: var(--color-light);
  font-size: 40px;
}

.section.india h2 {
  margin-bottom: 5px;
}

.section.india p.intro {
  margin-top: 5px;
  margin-bottom: 50px;

  font-size: 22px;
  line-height: 28px;
  max-width: 800px;
}

.section.india .trips{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  margin-bottom: 60px;
}

.section.india .trip{
  min-width: 300px;
  width: 30%;
  max-width: 360px;

  background-color: #fff;
  box-shadow: 1px 2px 2px 0px var(--color-medium);
  text-align: center;
  padding-bottom: 20px;

  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}

.section.india .trip h3{
  margin-bottom: 10px;
}

.section.india .trip .img-header{
  height: 100px;
  width: 100%;
  overflow: hidden;
  flex-shrink: 0;
}

.section.india .trip .img-header img{
  height: 100px;
}

.section.india .trip p{
  margin-top: 0;
  margin-bottom: 30px;
  padding: 0 30px;
  flex-grow: 1;
}

.section.india .trip a{
  background-color: var(--color-medium);
  color: #FFF;
  padding: 8px 24px;
  border-radius: 4px;
  display: inline-block;
  margin: auto;

  text-decoration: none;
  font-family: 'Montserrat Alternates', sans-serif;
  margin-bottom: 10px;
}

.section.travel {
  flex-direction: row;
  background: var(--color-dark);
}

.section.travel .right-half {
  height: 100%;
  flex-grow: 0;
}

.section.travel .left-half {
  padding-left: 60px;
  flex-grow: 1;
}

.section.travel .left-half h2 {
  color: var(--color-text-on-dark);
}

.section.travel .left-half h3 {
  color: var(--color-text-on-dark);
  margin-bottom: 8px;
}

.section.travel .left-half p {
  text-align: left;
  font-size: 18px;
  line-height: 28px;
  max-width: 550px;
  padding-right: 20px;
  color: var(--color-text-on-dark);
  margin-top: 8px;
  margin-bottom: 22px;
}

.section.clothing {
  flex-direction: row;
  background: var(--color-light);
}

.section.clothing .left-half {
  height: 100%;
  flex-grow: 0;
}

.section.clothing .right-half {
  padding-left: 30px;
  flex-grow: 1;
}

.section.clothing .right-half p {
  text-align: left;
  font-size: 18px;
  line-height: 28px;
  max-width: 550px;
}

.section.clothing .right-half li {
  font-size: 18px;
  line-height: 28px;
}

.section.rsvp {
  background-image: url("/images/ocean.jpg");
  flex-direction: row;
  align-items: flex-start;
  justify-items: center;
  background-position: top center;
}

.section .action-prompt {
  padding: 40px 120px;
  text-align: center;
  margin-top: 80px;
  text-decoration: none;
  display: block;
  color: #FFF;
}

.section .action-prompt a.button {
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: 28px;
  border-radius: 4px;
  padding: 16px;
  display: block;
  width: 200px;
  color: #FFF;
  text-decoration: none;
  margin: auto;
  background-color: rgba(255,255,255,0.3);
  background-color: var(--color-accent);
}

.section .action-prompt a.button:hover {
  color: var(--color-medium);
  border-color: var(--color-medium);
}

.section .action-prompt p {
  font-size: 22px;
  color: #FFF;
}


#rsvp-modal h3 {
  text-align: center;
  font-size: 24px;
  color: var(--color-dark);
}

#rsvp-modal p {
  font-size: 22px;
  line-height: 24px;
}

#rsvp-modal .easy-autocomplete {
  width: 100% !important;
  margin-bottom: 90px;
}

#rsvp-modal .easy-autocomplete .eac-item {
  font-size: 16px;
  font-family: 'Crimson Text', serif;
  color: var(--color-dark);
}

#rsvp-modal #lookup-name {
  width: 100%;
  font-size: 18px;
  font-family: 'Crimson Text', serif;
  color: var(--color-dark);
}

#rsvp-form {
  display: none;
}

#rsvp-form .button-group {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 20px;
}

#rsvp-form button {
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: 18px;
  border: 1px solid var(--color-dark);
  padding: 8px 10px;
  border-radius: 4px;
  cursor: pointer;

  background-color: #FFF;
  color: var(--color-dark);
}

#rsvp-form button:hover,
#rsvp-form button:focus,
#rsvp-form button:active {
  background-color: var(--color-medium);
  color: var(--color-text-on-dark);
  outline: none;
}

#rsvp-form button#submit,
#rsvp-form button.selected {
  background-color: var(--color-dark);
  color: var(--color-text-on-dark);
}

#rsvp-form button#submit.disabled,
#rsvp-form button#submit.disabled:hover,
#rsvp-form button#submit.disabled:active,
#rsvp-form button#submit.disabled:focus {
  background-color: #EEE;
  color: var(--color-medium);
}

#rsvp-form button#submit {
  margin-bottom: 10px;
}

#rsvp-form .party-names input {
  width: 100%;
  font-size: 18px;
  font-family: 'Crimson Text', serif;
  color: var(--color-dark);
  margin-bottom: 10px;
  padding: 2px 4px;
}

#rsvp-form .travel-plans p {
  text-align: left;
  font-size: 18px;
}

#rsvp-form .travel-plans button {
  font-size: 14px;
}

#rsvp-form #notes {
  display: block;
  width: 100%;
  font-size: 18px;
  font-family: 'Crimson Text', serif;
  padding: 8px;
  margin-bottom: 20px;
}

#rsvp-modal #thanks {
  display: none;
}

#rsvp-modal #thanks p {
  font-size: 18px;
}

#rsvp-modal #thanks p.yes,
#rsvp-modal #thanks p.no {
  display: none;
}
